body {
  background: linear-gradient(to right, #535466, #0c1050);
  font-family: 'Segoe UI', sans-serif;
}

.login-container .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(243, 17, 17, 0.2);
}

input:focus {
  box-shadow: none !important;
  border-color: #4e54c8 !important;
}